@charset "UTF-8";

body,html {
  font: 12px/18px Simsun,Helvetica,Arial,sans-serif
}

body,button,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,td,textarea,th,ul {
  padding: 0;
  margin: 0
}

button,input,label,option,select,textarea {
  font: 12px/18px Simsun,Helvetica,Arial,sans-serif
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400
}

ul, ol {
  list-style: none
}

img {
  border: none;
  display: block
}

button {
  cursor: pointer
}

input,textarea {
  font-size: 12px
}

a {
  text-decoration: none;
  color: #333
}

a:hover {
  text-decoration: underline;
  color: #bd0a01
}

::selection {
  background-color: #690;
  color: #fff
}

::-moz-selection {
  background-color: #690;
  color: #fff
}

.fl {
  float: left
}

.fr {
  float: right
}

.dis {
  display: block
}

.undis {
  display: none
}